{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
    {{ block.super }} - {{ post.title|title }}
{% endblock %}

{% block content %}
    <article>
        <header>
            {#博客文章开头部分#}
            <h2>{{ post.title|title }}</h2>
            <p>
                Written on <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
                {{ post.pub_date|date:"l, F j, Y"}}</time>
            </p>
        </header>
        {#正文#}
        {{ post.text|linebreaks }}

        {% if post.startups.all or post.tags.all %}
            {#在博客文章结尾展示对应机构和标签信息#}
            <footer>
                {% if post.startups.all %}
                    <section>
                        <h3>Startup{{ post.startups.count|pluralize }}</h3>
                        <ul>
                            {% for startup in post.startups.all %}
                                <li><a href="">{{ startup.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                {% if post.tags.all %}
                    <section>
                        <h3>Startup{{ post.tags.count|pluralize }}</h3>
                        <ul>
                            {% for tag in post.tags.all %}
                                <li><a href="">{{ tag.name|title }}</a></li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}
            </footer>
        {% endif %}
    </article>
{% endblock %}