{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
            Startup Organizer
        {% endblock %}
    </title>
    <link href="{% static 'site/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'site/skeleton.css' %}" rel="stylesheet" />
    <link href="{% static 'site/style.css' %}" rel="stylesheet" />
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <header class="row">
            <img src="{% static 'site/logo.png' %}" alt="Site Logo" />
            <h1 class="logo">Startup Organizer</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                <li><a href="{% url 'organizer:startup_list' %}">Startups</a></li>
                <li><a href="{% url 'organizer:tag_list' %}">Tags</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>

        {% if messages %}
        <div>
          <div>
            <ul>
              {% for message in messages %}
                {% if message.tags %}
                  <li class="{{ message.tags }}">
                {% else %}
                  <li>
                {% endif %}
                {{ message }}</li>
              {% endfor %}
            </ul>
           </div>
        </div>
        {% endif %}

        <main>
            {% block content %}
                This is default content!
            {% endblock %}
        </main>
    </div>
    <footer>
        <p>
            &copy;2015 <a href="">Andrew Pinkham</a>
        </p>
        <p>
            Created for <a href="">Django Unleashed</a>
        </p>
    </footer>
</body>
</html>