{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
    {{ block.super }} - Startups
{% endblock %}

{% block content %}
    <h2>Startup List</h2>
    <ul>
        {% for startup in startup_list %}
            <li>
                <a href="{{ startup.get_absolute_url }}">{{ startup.name }}</a>
                <ul>
                    <li><a href="{{ startup.get_update_url }}">Edit Startup</a></li>
                    <li><a href="{{ startup.get_delete_url }}">Delete Startup</a></li>
                </ul>
            </li>
        {% empty %}
            <li><em>No Startups Avaiable</em></li>
        {% endfor %}
    </ul>
    {% if startup_list.has_other_pages() %}
        <ul>
            {% if startup_list.has_previous() %}
                <li><a href="{{ previous_page_url }}">Previous</a></li>
            {% endif %}
            <li>Page {{ startup_list.number }} of {{ paginator.num_pages }}</li>
            {% if startup_list.has_next() %}
                {#<li><a href="?page={{ startup_list.next_page_number }}">Next</a></li>#}
                <li><a href="{{ next_page_url }}">Next</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}